{% extends "dashboard/base.html"%} {% load static %} {% block styles %}

{% endblock %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/team_details.css' %}">

<main id="main" class="main">

    <section>
        <div class="container-fluid" >
            
            <div class="col-12">
                <div class="row g-0 recommendations">
                    
                    <div class="card team-details-card col-xl-4 mx-auto">
                        <a href="{% url 'TeamDetails' user_id team_details.team_name %}" class=" team-button mt-auto btn btn-light stretched-link">
                        <div class="card-body pt-4">
                           
                            <h3 class="card-title teams-title">{{team_details.team_name}} <span>|{{team_details.department}} </span></h3>
          
                            <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" >
                                <i class="bi bi-people"></i>
                              </div>
                              <div class="ps-3">
                                <h6>{{team_details.number}} Members</h6>
          
                              </div>
                            </div>
                          </div>
                        </a>
                    </div>
                
                    
                </div>
             
            </div>

           
        </div>
    
       
    </section>

    <table class="table table-hover table-bordered styled-table">
        <thead>
            <tr class="text-center" >
                <th colspan="4">TEAM MEMBERS DEATILS</th>
               </tr>
            </thead>
        
        <tbody>   
            <tr class="text-center">
                <th>Member Name</th>
                <th>Productivity %</th>
                <th>Unproductivity %</th>
                <th>Break %</th>
              </tr>
       
       {% for t in  member_details %}
       <tr class="clickable text-center" onclick="window.location=''">
           <td> {{ t.member_name }} </td>
           <td> {{ t.prod_per }} </td>
           <td> {{ t.unprod_per }} </td>
           <td> {{ t.break_per }} </td>
        </tr>
      {% endfor %}
      <tr>
        <td> Team Performance </td> 
        <td>  </td> 
        <td>  </td> 
        <td>  </td> 
      </tr>
      </tbody>
       </table>
        
       
       <table class="table table-bordered styled-table">
        <thead>
        <tr class="text-center" >
            <th colspan="3">PRODUCTIVE CATEGORIES FOR TEAM</th>
           </tr>
        </thead>
            
        <tbody>  
            <tr class="text-center">
                <th>Category Number</th>
                <th>Category</th>
                <th>Productive/Unproductive</th>
              </tr>
        {% for item in categories %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.1}}</td>
            <td>
                {% if item.2 %}
                <button class="button">
                    <i class="bi bi-toggle-on category-icon change-category">&nbsp;&nbsp;&nbsp;Productive</i>
                </button>
                {% else %}
                <button class="button">
                    <i class="bi bi-toggle-off category-icon change-category">&nbsp;&nbsp;&nbsp;Unproductive</i>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
     
        </tbody>
        </table>

        
</main><!-- End #main -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

{% endblock content %}


{% block scripts%}
    <script src="{% static 'dashboard/js/team_details.js' %}"></script>
{% endblock scripts%}