body{
    overflow-x: hidden
}

#profile-icon{
    display: none;
}
.sidebar-nav .menu-profile .nav-link{
    color: #4154f1;
    background: #f6f9ff;
}

.sidebar-nav .menu-dashboard .nav-link{
    color: #012970;
    background: #fff ; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.pagetitle {
    margin-bottom: 10px;
    padding-top: 20px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}

.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}

.breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.breadcrumb a:hover {
    color: #4154f1;
}

.profile-card h2{
    font-weight: 700;
    font-size: 5vh;
    padding-top: 2vh ;
}

.profile-card{
    padding: 25%;
}

#profile-section{
    margin-right: 2%;
}

/* Bordered Tabs */
.nav-tabs-bordered {
    border-bottom: 2px solid #ebeef4;
  }
  .nav-tabs-bordered .nav-link {
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
  }
  .nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
    color: #4154f1;
  }
  .nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
  }

.tab-pane{
    padding: 2%;
}

.tab-pane .row > * {
    line-height: 5vh;
}

#team-members-title{
    margin-top: 5vh;
}